* {
    border: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    /* height: 500px;
    width: 500px;
    border: black solid 2rem; */
}

:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

.grid-element {
    padding: 1em;
    border: 1px solid rgb(20, 5, 5);
    text-align: center;
}