:root {
    --title: #333;
    --background: #ededed;
    --button-border: #333;
    --button: #555;
    --button-hover: #444;
    --button-active: #333;
    --border: #222;
}

.main-header {
    text-align: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    border: 2px solid var(--border);
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(75vw + 40px);
}

.grid-element {
    border: 1px solid var(--border);
    background-color: var(--background);
}