* {
    border: 0;
    margin: 0;
}

.main-header {
    text-align: center;
    margin-top: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(75vw + 40px);
}